* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
}
header {
  grid-area: header;
background-color: #e6e6d7;
min-height: 60px;
display: flex;
  align-content: center;
  align-items: center;
}

header a:hover {
  color: rgb(250, 137, 194);
}
header .header-links {
  text-decoration: none;
  padding: 35px;
  margin: 40px;
  font-size: 20px;
}
#slider{
  grid-area: slider;
  height: 377.95px;
  background-image: url('assets/images/slider.jpg');
  background-size: cover;
  background-position: 20% 94%;
}

header >*{
  display: inline-block;
}
header nav ul li{
  display: inline-block;
  text-decoration: none;
  padding: 15px;
}
header nav ul li:hover{
  cursor: pointer;
  background-color: #d8d8c1;
}
main{
  grid-area: main;

}



.button-section1 {
    border-radius: 26px;
  background-color: #d4bb2c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
}
.section1-image {
  background-image: url("https://www.elitehotels.co.uk/themes/custom/elitehotels/images/logos/logo_eh.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.section1 .section1-heading {
  
  text-align: center;
  text-shadow: #0f151b;
  margin-bottom: 60px;
  position: absolute;
  bottom: -580px;
  left: 350px;
}

.grid-container {
  display: grid;
  grid-template-columns:1fr;
  grid-row-gap: 20px;
  grid-template-areas:
    "header"
    "slider"
    "main"
    "footer";
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
}
.section1-heading {
  font-size: 60px;
  color: white;
  border-color: black;
  text-align: center;
}
.img-responsive{
  width: 100%;
  height: auto;
}
p{
  color: #9c9b98;
}
.mr-auto{
  margin-right: auto;
}
.ml-auto{
  margin-left: auto;
}
.article-box{
  width: 350px;
  margin: 15px;
}
article img{
  width: 350px;
  height: auto;
}
article p{
  font-size: .95rem;
  text-align: justify;
}
.article-button{
  width: 100px;
  height: 50px;
  background-color: #fdd041;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  margin: 5px 0;
  text-align: center;
}
.flex-container-center{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
ul li{
  list-style: none;
}
.w-100{
  width: 100%;
}

footer{
  grid-area: footer;
  text-align: center;
}

.footer-top{
  background-color: #222;
  color: #ddd;
  margin: 0;
}
.footer-top>div{
  display: inline-block;
  width: 200px;
  text-align: left;
  
}
.footer-middle{
  background-color: #333;
  padding: 20px;
  color: antiquewhite;
}
.footer-middle ul li {
  display: inline-block;
}
.footer-bottom{
  background-color: #ddd;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer-bottom img{
  padding: 0 15px;
}